:root{
    --primary-color: #2f3542;
    --primary-color-dark: #57606f;
    --secondary-color: #527853;
    --text-dark: #1f2937;
    --text-light: #1f2937;
    --extra-light: #F0DBAF;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #B5C99A;
    z-index: 99;
}

.nav_content{
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: .3s;
}

nav .logo a:hover{
    color: var(--primary-color-dark);
}

nav .checkbox{
    display: none;
}

nav input{
    display: none;
}

nav .checkbox i{
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

ul li a:hover{
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}

.section{
    background-color: var(--extra-light);
}

.section_container{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle{
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 5rem;
}

.title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.title span{
    font-weight: 600;
}

.description{
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}

.action_btn{
    display: flex;
    gap: 1rem;
}

.action_btn button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.hire_me{
    background-color: var(--secondary-color);
    color: #F0DBAF;
}

.hire_me:hover{
    background-color: darkseagreen;
}

.portfolio{
    color: var(--primary-color);
}

.portfolio:hover{
    background-color: var(--secondary-color);
    color: #F0DBAF;
}

.image{
    display: grid;
    place-items: center;
}

.image img{
    width: min(25rem, 90%);
    border-radius: 100%;
    background-color: #B5C99A;
}

.image-2{
    display: grid;
    place-items: center;
    margin-inline-end: auto;
}

@media(width < 750px){
    nav .checkbox{
        display: block;
    }

    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked ~ ul{
        left: 0;
    }

    ul li a{
        font-size: 1.25rem;
    }

    .section_container{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image{
        grid-area: 1/1/2/2;
    }

    .image-2{
        grid-area: 1/1/2/2;
    }

    /* .image-3{
        grid-area: 1/1/2/2;
    } */

    .action_btn{
        margin: auto;
    }
}

#contact {
    padding: 20px;
    margin-top: 100px;
    background-color: var(--extra-light);
    justify-content: flex-end;
}

/* #contact h2 {
    color: #333;
    font-size: 24px;
} */

#contact form {
    margin-top: 20px;
}

#contact label {
    display: block;
    margin-bottom: 5px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    box-sizing: border-box;
}

#contact button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--extra-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact button:hover {
    background-color: #B5C99A;
}

footer{
    background-color: #B5C99A;
    padding: 40px;
}

.container{
    width: 1140px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer{
    width: auto;
}

h3{
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul{
    text-align: center;
}

.list{
    padding: 0;
}

.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #B5C99A;
    transition-duration: .5s;
}

.list li:hover::before{
    width: 70px;
}

.social-icons{
    text-align: center;
    padding: 0;
}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i{
    color: var(--primary-color);
    font-size: 25px;
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--secondary-color);
}

.social-icons i:hover{
    color: var(--secondary-color);
}

.bottom-bar{
    background-color: #B5C99A;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p{
    color: var(--text-dark);
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .container { width: 100%; } @media (min-width: 768px) { .container { width: 75%; } } @media (min-width: 992px) { .container { width: 60%; } }
  